<div class="row">
  <div class="col-sm-2">
    <app-menu></app-menu>
  </div>

  <div class="col-sm-10" >
    <app-header></app-header>
    <div class="header bg-primary pb-6" style="background-color: #5e72e4 !important;">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">

                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a style="color: #5e72e4;" href="dashboard.html"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a style="color: #5e72e4;" href="#">Charge</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ajout charge</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
         </div>
        </div>
<div class="container">
<div class="p-3 ">
      <div class="container-fluid mt--6">
        <div class="row justify-content-center">
        <div class=" col ">
      <div class="card" >
        <div class="card-header bg-transparent">
          <h5 class="mb-0">Ajouter une nouvelle charge</h5>
        </div>

          <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button-->
  <form method="POST" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div class="card-body">
    <div class="row row1">
        <div class="col">
        <label for="date_paiement" class="form-label"><b>Date Paiement</b></label>
        <input type="date" class="form-control" aria-label="date_paiement" id="date_paiement" name="date_paiement" [(ngModel)]="charge.date_paiement">
      </div>
      <div class="col">
        <label for="type" class="form-label"><b>Type</b></label>
        <input type="text" class="form-control"  aria-label="type" id="type" name="type" [(ngModel)]="charge.type">
      </div>
    </div>
    <br>
    <div class="row row1">
      <div class="col">
      <label for="reparation" class="form-label"><b>Reparation</b></label>
      <input type="text" class="form-control" aria-label="reparation" id="reparation" name="reparation" [(ngModel)]="charge.reparation">
    </div>
    <div class="col">
      <label for="personnel" class="form-label"><b>Personnel </b></label>
      <input type="text" class="form-control" aria-label="personnel" id="personnel" name="personnel" [(ngModel)]="charge.personnel">
    </div>
  </div>
  <br>
    <div class="row row1">
      <div class="col">
        <label for="nbt_relance" class="form-label"><b>Nombre relance</b></label>
        <input type="text" class="form-control" placeholder="Nombre relance" aria-label="nbt_relance" id="nbt_relance" name="nbt_relance" [(ngModel)]="charge.nbt_relance">
      </div>
      <div class="col">
        <label for="location_id" class="form-label"><b>Location</b></label>
        <input type="text" class="form-control" placeholder="ID Location" aria-label="location_id" id="location_id" name="location_id" [(ngModel)]="charge.location_id">

      </div>
    </div>
  <br>
    <!--div class="text-center"><h5 class="title"><b>Documents justificatifs</b></h5></div>
    <span (click)="addForm()" class="btn btn-secondary">+</span>
   <div class="row row1 " *ngFor="let obj of dataarray">
    <div class="col">
      <div class="mb-3">
        <label for="nom_doc" class="form-label"><b>Nom du document</b></label>
        <input class="form-control" type="text" id="nom_doc" name="nom" placeholder="Nom du document" [(ngModel)]="obj.nom">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="doc" class="form-label"><b>Fichier joint (format accepté : PNG, JPG, JPEG, Word, PDF)</b></label>
        <input class="form-control" type="file" id="doc" name="doc" [(ngModel)]="obj.doc">
      </div>
    </div>
   </div-->
   <div class="pull-right">
    <div class="buttons">
    <button type="button" class="btn btn-primary" style="background-color: #5e72e4 !important;">Annuler</button>
    <button type="submit" class="btn btn-success" style="background-color: #5e72e4 !important;">Enregistrer</button>
    </div>
  </div>
  </div>

  </form>
  </div>
  </div>
  </div>
  <app-footer></app-footer>
  </div>
  </div>

  </div>
  </div>
  </div>


